<h1>Creating Room</h1>

<div id="library">
<p>Music Library</p>
<table id="songList">
<% for(var i=0; i<list.length; i++){
var song = list[i]; %>
<tr>
<td on><%= song %></td>
</tr>
<% } %>
</table>
</div>