<!-- Homepage View -->
<div id="container">
<h1>Home of Leftoverz Project</h1>
<p>Welcome <%= user %></p>
<div id="listcontainer">
<table id="chatrooms">
<tr>
<td>Music Room</td>
<td>Host</td>
<td># of Guests</td>
</tr>
<% for(var i=0; i<chatrooms.length; i++){
var room = chatrooms[i];%>
<tr>
<td><a href='/chatroom/<%=room.chatroom_name%>'> <%=room.chatroom_name%> </a></td>
<td><%= room.host_name %></td>
<td>#</td>
</tr>
<% } %>
</table>
</div>
</br>
<div id="createRoom">
<form name="createRoom" action="/hostroom" method="POST" accept-charset="utf-8" onsubmit="return validateRoom();">
<p> Music Room Name: <input type="text" name="roomname"></p>
<p><input type="submit" value="Create Music Room"></p>
</form>
</div>
<div id="jsError"></div>
</div>
<div id="logout">
<form action="/logout">
    <input type="Submit" value="Logout">
</form>
</div>
