<!-- Homepage View -->
<h1>Home of Leftoverz Project</h1>
	<audio controls="controls">
 	<source src="/music/07 Talking to the Moon.mp3" type="audio/mp3" />
  	Your browser does not support the audio element.
	</audio>
<p>Welcome <%= user %></p>

<form action="/logout">
    <input type="Submit" value="Logout">
</form>