<!-- Homepage View -->
<h1>Home of Leftoverz Project</h1>
	<audio controls="controls">
 	<source src="/music/07 Talking to the Moon.mp3" type="audio/mp3" />
  	Your browser does not support the audio element.
	</audio>
<p>Welcome <%= user %></p>

<table id="chatrooms">
<% for(var i=0; i<chatrooms.length; i++){
var room = chatrooms[i]; %>
<tr>
<td><%= chatrooms[i].chatroom_name %></td>
</tr>
<% } %>
</table>

<form action="/logout">
    <input type="Submit" value="Logout">
</form>

