body {
  padding-left: 75px;
  padding-right: 75px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
  background-image:url('equalizer.jpg');
  background-repeat:repeat-x;
  background-position:bottom;
}

#profile
{
	width: 275px;
	height: 250px;
}

a {
  color: #00B7FF;
}

td:hover {
  background-color: #f7bad7;
}

div#users {
	border: 2px solid;
	padding: 5px;
	width: 100px;
	height: 100px;
	overflow-y: auto;
}

table {
  vertical-align: middle;
}

div#container{
  background-color: #3b5998;
  width: 800px;
  height:500px;
  padding: 5px;
  border: solid #C0A8C0;
  overflow-y:auto;
  opacity:0.75;

}

div#logout{
  position:fixed;
  top: 0em;
  right:0em;
  }

div#listcontainer{
  width: 100%;
  height: auto;
}

div#library{
  width: 48%;
  height: 200px;
  float:left;
  font-size: 11px;
  overflow-y: auto;
  border: thin solid gray;
}

#playlisttable
{
	width: 100%;
}

#songlist
{
	width: 100%;
}

div#playlist{
  width: 48%;
  height:200px;
  float: right;
  font-size: 11px;
  overflow-y: auto;
  border: thin solid gray;
}

div#chat{
  float:left;
  width: 69%;
  height: 300px;
  overflow-y:auto;
  border: thin solid gray;
  background-color: #ffffff;
}

div#users{
  float: right;
  width: 28%;
  height: 290px;
  overflow-y:auto;
  border:thin solid gray;
  background-color: #ffffff;

}

textarea#msg{
  width: 99%;
  height: 75px;
  border: thin solid gray;
  resize: none;
}


div#loginForm{
  margin-left:auto;
  margin-right:auto;
  padding: 5px;
  width: 500px;
  height: 200px;
  background-color: #ffffff;
}

div#songname {
  width:100%;
}

div#songname:hover {
  background-color: #82aad3;
}

div#currentSong
{
	font-size: 18px;
}

div#musicrooms
{
  background-color: #1B676B;
  width: 700px;
  height:500px;
  opacity:0.75;
}

div#musictable
{
	float: left;
	width: 65%;
	height: 490px;
	
}

tr, td
{
	border-bottom: 1px solid black;
	background-color: #D1E751;
}

#chatrooms
{
	width: 100%;
}

div#createroom
{
	padding: 20px;
	float: right;
	width:99%;
}

div#user
{
	float: right;
	width: 450px;
	height:500px;
	background-color: #3B5998;
	opacity:0.75;
}

div#uploadsong
{
	padding: 20px;
	float: right;
	width:99%;
}

div#functions
{
	padding-top: 25px;
	float: right;
	width: 29%;
	height: 500px;
}

div#uploadpic
{
	padding: 5px;

}

div#maintitle
{
	
}

div#musictitle
{
	
}






